.bottom-bar {
    background-color: var(--font-color);
    color: rgb(var(--color-main-background));
    text-transform: uppercase;
    text-align: center;

}

.bottom-bar .section-wraper {
    padding: 0.5em;
}

.bottom-bar span {
    font-size: 0.7em;
}

.bottom-bar a {
    color: rgba(var(--color-white-rgb), var(--transparency));
    text-decoration: none;
    transition: 0.5s;
    font-weight: bold;
}

.bottom-bar a:hover {
    color: var(--color-main-second);
}

.bottom-bar .copyrights {
    /*border-bottom: var(--border);*/
    /*padding-bottom: 0.1em;*/
    color: rgba(var(--color-white-rgb), 1);

}
