.button {
    white-space: nowrap;
    border-radius: 0.5em;
    padding: 1em 1.5em;
    transition: 0.5s;
    box-shadow: var(--box-shadow);
    width: auto;
    align-self: center;
}

.button a {
    font-family: var(--body-font-family);
    text-transform: uppercase;
    font-weight: bold;
    letter-spacing: 0.0625em;
    text-decoration: none;
}
