.call-to-action {
    display: flex;
    flex-direction: column;
    text-align: center;
    padding: 2em 0;
    border-radius: 0.2em;

}

.call-to-action p {
    font-family: var(--headings-font-hamily);
    text-transform: uppercase;
    color: var(--color-white);
    font-weight: bolder;
    font-size: 4em;
    letter-spacing: 0.1em;
    /*padding-left: 0.5em;
    padding-right: 0.5em;*/
    padding-top: 2em;
    padding-bottom: 2em;
    text-shadow: var(--text-shadow);
    line-height: 1.1em;

}