.light-button {
    /*background-color: rgba(var(--color-white-rgb), 1);*/
    border: 1px solid rgb(var(--color-white-rgb));
    transition: 0.5s;
}

.light-button a {
    color: var(--color-white);
    transition: 0.5s;
}

.light-button:hover {
    background-color: rgba(var(--color-main-first-background), 0.7);
    cursor: pointer;
    /*border: 2px solid rgb(var(--color-main-background));*/

}

.light-button:hover a {
    color: rgb(var(--color-main-background));
}