.image img {
    position: relative;
    border-radius: 0.1em;
}

.image .photo-credit {
    position: relative;
    top: -2em;
    left: 1em;
    z-index: 1;
    font-style: italic;
    font-size: 0.8em;
    padding: 0.1em;
    background-color: var(--color-main-background);
    color: var(--font-color);
    opacity: 0.5;
}
