#vcard {
    display: flex;
    justify-content: center;
}

.card-wrapper {
    display: flex;
    flex-wrap: wrap;
    max-width: 500px;
    background: linear-gradient(135deg, rgba(var(--color-main-rgb), 0.6), rgba(var(--color-main-second-rgb), 0.6), rgba(var(--color-second-rgb), 0.4)), url("../../images/night-view-1920.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}

.brand {
    display: none;
    position: absolute;
    top: 1.5em;
    right: 1.5em;
    text-shadow: var(--text-shadow);
    z-index: 5;

}

.brand a {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    text-decoration: none;
    text-transform: uppercase;
    color: var(--color-main-second);
    line-height: 1em;
}

.info {
    /*background-color: var(--color-main-second);*/
    width: 100%;
    padding: 1em;
    color: var(--color-main-background);
    border-top-left-radius: 1em;
    border-top-right-radius: 1em;
    position: relative;
    top: -2.3em;
}

.info h1 {
    font-size: 2.3em;
    text-shadow: var(--text-shadow);
}

.info .metier {
    text-transform: uppercase;
    font-size: 1.5em;
    padding-top: 0.3em;

}

.info .specialism {
    text-transform: uppercase;
    opacity: 70%;
}

.contact-btns {
    width: 100%;
    display: flex;
    justify-content: center;
    gap: 0.6em;
    flex-wrap: wrap;
    width: 100%;
    padding: 1em;
    position: relative;
    top: -2.3em;
}

.btn {
    padding-top: 0.5em;
    padding-bottom: 0.5em;
    /*background-color: var(--color-main-background);*/
    border-radius: 0.3em;
    border: 1px solid var(--color-main-background);
    flex: 1 0 40%
}

.btn a {
    display: flex;
    gap: 0.5em;
    text-decoration: none;
    color: var(--color-main-background);
    font-weight: normal;
    font-size: 0.7em;
    justify-content: center;
    align-items: center;
    text-transform: uppercase;
    
}

svg {
    width: 1.5em;
    height: 1.5em;
    fill: currentColor;
}

.contact-info {
    display: flex;
    flex-wrap: wrap;
    gap: 1em;
    /*background-color: var(--color-main-second);*/
    width: 100%;
    padding: 1em;
}

.contact-info h3 {
    color: var(--color-main-background);
    font-size: 1em;
    text-transform: uppercase;
}

.contact-info a {
    color: var(--color-main-background);
    text-decoration: none;
}

.contact-info .cnt {
    flex: 1 1 100%
}

.contact-info .cnt span:nth-child(1) {
    display: block;
    opacity: 60%;
    font-size: 0.8em;
}

.contact-info .cnt span:nth-child(2) {
    display: block;
    
    font-size: 0.9em;
}

