#site-header {
    background: linear-gradient(135deg, rgba(var(--color-main-rgb), 0.6), rgba(var(--color-main-second-rgb), 0.6), rgba(var(--color-second-rgb), 0.4)), url("../../images/night-view-1920.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    color: var(--color-main-background);
}

#site-header .section-wraper {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: auto;
    height: auto;

}
