#site-header {
   background: radial-gradient(circle, rgba(var(--color-main-second-background), 0.6), rgba(var(--color-main-first-background), 1)),
              url("./../../images/M.webp");
    background-position: center;
    background-repeat: no-repeat;
      
}

#site-header .section-wraper {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: auto;

}

#site-header .section-wraper {
    height: auto;
}


