#law-firm {
    color: var(--color-main-second);
    background-color: var(--color-white);
}

#law-firm h1 {
    color: var(--color-main);
}

#law-firm .law-firm-picture {
    /*filter: grayscale(100%);*/

    overflow: hidden;
}