#services {
    color: rgb(var(--color-main-background));
    background: radial-gradient(circle, rgba(var(--color-main-second-background), 0.6), rgba(var(--color-main-first-background), 1)),
        url("./../../images/elephant-new-small.webp");
    background-position: center;
    background-repeat: no-repeat;
    
}

#services .no-padding-top {
    padding-top: 0;
    
}

#services .areas-list {
    display: flex;
    flex-wrap: wrap;
    gap: 2em;
    justify-content: center;
    
}
