#services {
    background: linear-gradient(135deg, rgba(var(--color-main-second-rgb), 0.6), rgba(var(--color-second-rgb), 0.4), rgba(var(--color-main-rgb), 0.6)), url("../../images/night-view-1920.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    color: var(--color-main-background);
}

#services .no-padding-top {
    padding-top: 0;
}

#services .areas-list {
    display: flex;
    flex-wrap: wrap;
    gap: 2em;
    justify-content: center;
}

