.contacts {
    background-color: var(--color-main-second);
    color: rgb(var(--color-main-background));
    /*background: linear-gradient(180deg, rgba(var(--color-main-second-background), 1), rgba(var(--color-main-first-background), 0.6)), url("./../../images/scale.png")rgba(var(--color-main-first-background), 0.6);
    background: linear-gradient(0deg, rgba(var(--color-main-second-background), 0.6), rgba(var(--color-main-first-background), 1)), url("./../../images/scale.png");*/

    background: radial-gradient(circle, rgba(var(--color-main-second-background), 0.6), rgba(var(--color-main-first-background), 1)),
        url("./../../images/scale.png");
    background-position: center;
    background-repeat: no-repeat;
}

.contacts .section-wraper {
    display: flex;
    flex-direction: column;

    justify-content: space-between;
}

#contact h2 {
    padding-top: 2em;
    padding-bottom: 2.5em;
}

#site-footer .site-logo {
    margin-bottom: 3em;
    margin-top: 2em;
}

#site-footer #contact .contacts-title {
    padding-bottom: 1em;
    margin-top: 2em;
}

#site-footer .cnt .title {
    display: inline-block;
}

#site-footer .cnt .copy {
    display: inline-block;
}