@font-face {
    font-family: 'Montserrat';
    src: url('./fonts/Montserrat-Bold.woff2') format('woff2');
    font-weight: 700;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Montserrat';
    src: url('./fonts/Montserrat-Regular.woff2') format('woff2');
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Lato';
    src: url('./fonts/Lato-Bold.woff2') format('woff2');
    font-weight: 700;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Lato';
    src: url('./fonts/Lato-Regular.woff2') format('woff2');
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Lato';
    src: url('./fonts/Lato-Italic.woff2') format('woff2');
    font-weight: 400;
    font-style: italic;
    font-display: swap;
}

html {
    font: var(--font-base-size)/var(--font-line-height) var(--body-font-family), sans-serif;
    color: var(--font-color);
}

body,
table,
th,
td,
form,
input,
textarea,
option,
button,
details,
summary {
    font: inherit;
    color: var(--font-color);
}

p,
*+ul,
*+ol {
    padding-bottom: 1em;
    font-weight: 300;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-size: 1.0em;
    font-family: var(--headings-font-hamily);
    text-transform: uppercase;
    font-weight: bolder;
    line-height: 1.1em;
}

h1 {
    font-size: 3.0em;
}

h2 {
    font-size: 2.4em;
}

h3 {
    font-size: 1.8em;
}

h4 {
    font-size: 1.4em;
}

h5 {
    font-size: 1.2em;
}

h6 {
    font-size: 1.0em;
}

img,
video {
    display: block;
    width: 100%;
    height: auto;
}

ul,
ol {
    list-style-position: inside;
}



